/* Position and sizing of burger button */
.content-burger-btn {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 36px;
  top: 0px;
}

.content-burger-btn button:focus {
  outline: 2px solid #af3420;
  outline-offset: 8px;
}
.content-burger-btn button:focus + span span.bm-burger-bars {
  background-color: #af3420;
}
.right .content-burger-btn {
  right: initial;
  left: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ae1c10;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  /* position: fixed; */
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #d5e4b0;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu a {
  text-decoration: none;
}

.bm-menu a:hover,
.bm-menu a:focus {
  color: #af3420;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.content-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.content-item-list a {
  padding: 0.3rem;
}

.content-item-list a span {
  margin-left: 10px;
  font-weight: 700;
}

/* Individual item */
/* .bm-item {
  display: inline-block;
  text-align: center;
} */

.content-item {
  display: inline-block;
  text-align: left !important;
}

.bm-item:focus {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.Collapsible__contentInner {
  display: flex;
  flex-direction: column;
}

.Collapsible {
  padding-bottom: 1.5rem;
}

.is-open {
  font-weight: bold;
}
